@import "./partials/breakpoints";
@import "./partials/mixins";
@import "./partials/variables";
@import "./partials/reset";
@import "./layout/grid";

@font-face {
  font-family: "Satoshi-Regular";
  src: local("Satoshi-Regular"), url("/assets/fonts/Satoshi-Regular.woff2");
  font-display: swap;
}

body {
  background-color: $white-clr;
  font-family: "Satoshi-Regular", sans-serif;
  color: $black-clr;
}

@media (prefers-reduced-motion) {
  * {
    animation: none;
    transition: none;
  }
}
