@import "../../partials/variables";
@import "../../partials/breakpoints";
@import "../../partials/mixins";

.products-column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: end;
  gap: 1rem;
}

@media (max-width: $desktop) {
  .products-column {
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
}

@media (max-width: $mobile) {
  .products-column {
    grid-template-columns: 1fr;
  }
}

.product-card {
  position: relative;

  width: 100%;
  margin-bottom: 2rem;

  @include flex(center, start);
  flex-direction: column;
  transition: transform 0.3s ease-in-out;
  @include fadeIn;
  cursor: pointer;

  &__image {
    height: 60%;
    background-color: $gray-100-clr;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
  }

  &__name {
    font-size: clamp(0.8rem, 0.7rem + 0.3vw, 1rem);
    margin: 0.7rem 0;
    letter-spacing: 1px;
    transition: color 0.3s ease-in-out;
  }

  &:hover {
    transform: translateY(-3px);
  }

  &:hover > .product-card__name {
    color: orange;
  }

  &:hover > .product-card__image {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }

  &::after {
    content: url("../../../assets/icons/arrow.png");
    position: absolute;
    right: 1.5rem;
    bottom: 5.5rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &:hover::after {
    opacity: 1;
  }
}

@for $i from 1 through 12 {
  .product-card:nth-child(#{$i}) {
    $delay: $i * 0.1;
    animation-delay: $delay + s;
  }
}
