@import "../../partials/variables";
@import "../../partials/mixins";

.products-column {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  place-items: end;
  gap: 1rem;
}

.product-card {
  width: 100%;
  margin-bottom: 2rem;

  @include flex(center, start);
  flex-direction: column;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, color 0.4s ease-in-out;

  &__image {
    position: relative;
    height: 60%;
    background-color: $gray-100-clr;
    border-radius: 1rem;

    // &:hover:not(.product-card) {
    //   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    // }
    &:hover {
      &::after {
        content: url(../../../assets/icons/arrow.png);
        width: 1rem;
        height: 1rem;
        position: absolute;
        right: 2rem;
        bottom: 1rem;
      }
    }
  }

  // &__name {
  //   &:hover {
  //   }
  // }

  &__name,
  &__price {
    margin-top: 0.7rem;
  }

  &:hover {
    transform: translateY(-3px);
  }

  &:hover:not(.product-card__price) {
    color: $accent-clr;
  }
}
